body {

    background-color: rgb(254,238,205);
    border: 2px solid black;
}
.container{
    border:1px solid red;
    display: grid;  
    grid-gap: 1rem;
    background-color: whitesmoke;
}

#listings{
    border:4px solid blue;
    display: grid;  
    grid-gap: 10px;  
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-template-rows: repeat(3, 300px);  

}
#card-listings{

    background-color: ghostwhite;
    margin-left: 1%;
    margin-top:4%;
    margin-bottom: 4%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-hotjar{
    color:#f2ae72;
}

.jumbotron{
    position: relative;
    background-color: rgb(19,25,33);
    color: ghostwhite;
}

.nav{
position: absolute;
  top: 8px;
  right: 16px;

}

h1{
position: absolute;
  top: 8px;
  left: 16px;
}

a{
    color: ghostwhite;
  text-decoration: none;
}
a:hover{
    color: white;
}

.other-btn{
    color:blue;
}
i{
    color: rgb(242,174,114);
}

.btn{
    background-color:rgb(242,174,114) !important;
    color: black;
}
.btn:hover{
    color: black;
    background-color: rgb(233, 182, 137) !important;
}

#accountStatus{

    border:1px solid red;
  position: absolute;
  bottom: 8px;
  left: 100px;
}

.forms{
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    padding: 45px;
    border-bottom:1px solid #f2ae72;
}

#navBurger{
position: absolute;
bottom: 5px;
left: 15px;
}

/* Navbar for smaller devices */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Responsive settings for smaller devices */
@media only screen and (max-width: 600px) {
  .smaller {
    display:none;
  }


}

@media only screen and (max-width: 780px) {

#listings{
    width: 100vw !important;
}
.card .mb-3{
    border:10px solid red !important;
}

#card-listings{
    margin-bottom: 5px;
    border: 5px solid black !important;
    display: grid;
}

.card-img{
    border: 5px solid yellow;
    max-height: 30vh;
}
.container{
        display: grid;  
    grid-gap: 1rem;
    background-color: whitesmoke;
}
}