{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <script src="https://kit.fontawesome.com/493ea5c692.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="{% static 'auctions/index.js' %}"></script>  
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
{% if user.is_authenticated %}
    <p id="navGreeting"> Hello,  {{ user.username }} <i class="far fa-grin-alt"></i><p>
      <a class="smaller nav-link" href="{% url 'categories' %}">Categories</a>
      <a class="smaller nav-link" href="{% url 'create' %}">Create a bid</a>
    <a class="smaller nav-link" href="{% url 'mywinnings' %}">My Winnings</a>
    <a class="smaller nav-link" href="{% url 'index' %}">Bids</a>

    <a class="smaller nav-link" href="{% url 'watchlistpage' user.username %}">Watchlist <span class="badge badge-success">{{wcount}}</span></a>
    
      <a class="smaller nav-link" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Sign out</a>
{% else %}
  <a class="smaller nav-link" href="{% url 'login' %}">Sign In <i class="fas fa-user-circle"></i></a>
    <a class="smaller nav-link" href="{% url 'register' %}">Register <i class="fas fa-user-plus"></i></a>
{% endif %}
</div>


<!--Navbar for smaller devices!____________________-->
        <div class="jumbotron">
            <h1 id="auctions_"><i class="fas fa-gavel"></i> Auctions </h1>
            <div id="navBurger"><span onclick="openNav()"><i class="fas fa-bars"></i></span></div>
            <div id="accountStatus">
                {% if user.is_authenticated %}
                    Hello,     <strong>{{ user.username }}</strong>
                {% else %}
                    Not signed in.
                {% endif %}
            </div>
            <ul class="nav">
                <li class="smaller nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                </li>
                {% if user.is_authenticated %}
                <li class="smaller nav-item">
                    <a class="smaller nav-link" href="{% url 'categories' %}">Categories</a>
                </li>
                <li class="smaller nav-item">
                    <a class="nav-link" href="{% url 'watchlistpage' user.username %}">Watchlist <span class="badge badge-success">{{wcount}}</span></a>
                </li>
                <li class="smaller nav-item">
                    <a class="nav-link" href="{% url 'create' %}">Create listing</a>
                </li>
                <li class="smaller nav-item">
                    <a class="nav-link" href="{% url 'mywinnings' %}">Your Winnings</a>
                </li>
                    <li class="nav-item">
                        <a class="logout nav-link" href="{% url 'logout' %}">Sing Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Sign In <i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="smaller nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <hr>
        {% block body %}
        {% endblock %}


    </body>
</html>
