{% extends "auctions/layout.html" %}
{% block body %}

<div class="container">
<div class="listing">
    <div class="container" style="text-align: center;">
        <img src="{{i.link}}" width="100%" alt="...">
    </div>
    <br>
    <h5>{{i.title}}</h5>
    <br>
    <p class="left"><i class="fas fa-user-circle"></i> {{i.owner}}</p>
    <h5 class="left">Last offer: ${{i.price}}</h5>
  </div>
  <br>
    {% if user.username %}
    <p>
      {% if added %}
      <a href="{% url 'removewatchlist' i.id %}"><button class="btn btn-danger">Remove from watchlist</button></a>
      {% else %}
      <a href="{% url 'addwatchlist' i.id %}"><button class="btn btn-success">Add to watchlist</button></a>
      {% endif %}
    </p>
    <br>
    {% endif %}
    {% if user.username %}
    {% if owner %}
    <br>
    <a href="{% url 'closebid' i.id %}"><button class="btn btn-warning">Close Bid</button></a>
    <br>
    {% endif %}
    {% endif %}
    <br>
    <div class="listing left">
    <p><b>About this item:</b>
    <ul class="left">
        <li><b>Category:</b>  {{i.category}}</li>
        <li><b>Created on:</b>  {{i.time}}</li>
        <hr/>
        <li><b>Description:</b> 
        <br>
        <i class="fas fa-angle-double-left"></i> {{i.description}}<i class="fas fa-angle-double-right"></i></i></li>
    </ul>
    </p>
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {% endif %}
    {% if errorgreen %}
    <div class="alert alert-success" role="alert">
        {{errorgreen}}
      </div>
    {% endif %}
    {% if user.username %}
    <br>
    <div class="container">
        <h5>Make an offer:</h5>
        <form action="{% url 'bidsubmit' i.id %}" method="POST">
            {% csrf_token %}
              <div class="form-group">
                <div class="col-auto">
                  <input type="number" class="form-control mb-1" id="inlineFormInput" name="bid" placeholder="Enter desired amount...">
                </div>

                <div class="col-auto">
                  <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
              </div>
        </form>
    </div>

    <br>

    <div class="container">
      <form action="{% url 'cmntsubmit' i.id %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlTextarea1"><b>Write a comment:</b></label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment" placeholder="Write your comment here..." required></textarea>
        </div>
        <button class="btn btn-secondary" type="submit">Submit</button>
      </form>
    </div>

    <br>

    {% endif %}
    {% if comments %}
    <div class="allcomments container">
    <h5>Comments <i class="fas fa-comments"></i></h5>
          
          {% for c in comments %}
          <div class="comments" style="max-width: auto;">                
                  <h5>{{c.user}}</h5>
                  <p>{{c.comment}}</p>
                  <p><small class="text-muted">{{c.time}} UTC</small></p>
          </div>
        <hr/>
           {% endfor %}
           
    </div>
    {% endif %}

    
</div>




{% endblock %}